@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Mulish:wght@700&display=swap');
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@import-normalize; /* bring in normalize.css styles */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #F5FAF6;
  font-size: 14px;
  color: #484848;
font-style: normal;
font-weight: 400;
/* line-height: 24px; */
  font-family: 'Montserrat', sans-serif;
}

.swiper-pagination-bullet{
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 30px;
  font-size: 10px;
  opacity: 1 !important;
  background: none !important;
  border: 1px solid #7FAA84;
  font-weight: bold;
}
.swiper-pagination-bullet-active{
  background: #7FAA84 !important;
}

@layer components {
  .container { 
    @apply max-w-[2560px]
  }
}